.container > main >.last-post{
    width: 100%;
    text-align: center;
    padding: 0 160px;
    padding-top: 90px;
}
.container > main >.last-post >p{
    
    margin-bottom: 80px;
}
.container > main >.last-post >.row-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container > main >.last-post >.row-card >.card{
    width: 30%;
    height: 300px;
    background-color: white;
    padding: 20px;
    text-align: left;
    border: 1px solid rgb(173, 153, 153);
    border-radius: 5px;
    text-align: left;
    transition: 0.2s ease-in-out;
}
.container > main >.last-post >.row-card >.card:hover{
    box-shadow: 0 0 5px grey;
}
.container > main >.last-post >.row-card >.card:hover >h3{
    color: var(--btn-n-txt-color);
    text-decoration: underline;
}
.container > main >.last-post >.row-card >.card >h3{
    margin: 30px 0;
}
.container > main >.last-post >.row-card >.card >.account{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    display: flex;
}
.container > main >.last-post >.row-card >.card >.account>.profile{
    width: 29%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px ;
}
.container > main >.last-post >.row-card >.card >.account>.profile >img{
    width: 100%;
}
.container > main >.last-post >.row-card >.card >.account>.data-user{
    width: 71%;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
.container > main >.last-post >.row-card >.card >.account>.data-user h4{
    color: var(--btn-n-txt-color);
    margin-right: 100px ;
}
.container > main >.last-post >.row-card >.card >.account>.data-user p{
    margin-right: 60px ;
}
.container > main >.last-post >button{
    margin: 80px 0;
    padding: 10px 30px;
    font-size: 20px;
    background-color: var(--btn-n-txt-color);
    border: none;
    color: white;

}